::-webkit-input-placeholder { /* Safari, Chrome and Opera */
    color: #000000;
    text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
    color: #000000;
    text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #000000;
    text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #000000;
    text-align: center;
}
::-ms-input-placeholder { /* Edge */
    color: #000000;
    text-align: center;
}
:placeholder-shown { /* Standard one last! */
    color: #000000;
    text-align: center;
}
[placeholder]:focus::-webkit-input-placeholder { /* Safari, Chrome and Opera */
    color: transparent;
}
[placeholder]:focus:-moz-placeholder { /* Firefox 18- */
    color: transparent;
}
[placeholder]:focus::-moz-placeholder { /* Firefox 19+ */
    color: transparent;
}
[placeholder]:focus:-ms-input-placeholder { /* IE 10+ */
    color: transparent;
}
[placeholder]:focus::-ms-input-placeholder { /* Edge */
    color: transparent;
}
body
{
    background-color: #c6c6c6;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 0px;
}