a
{
    color: #D7B204;
}
body
{
    background-color: #2C2727;
    color: #EBCECE;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin: 20px auto;
    width: 80%;
}
h1, h2, h3, h5
{
    text-align: center;
}
h3
{
    margin: 60px 0px;
}
h4
{
    margin-top: 50px;
}
hr
{
    margin-top: 30px;
}
li
{
    line-height: 16px;
    margin-bottom: 10px;
}
p
{
    text-indent: 30px;
}
table
{
    border-collapse: collapse;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}
table, th, td
{
    border: 1px solid #EADA8E;
}
th, td
{
    padding: 10px 0px;
}
ul > li
{
    background-image: url("../assets/bgd-red-bullet.png");
    background-position: 0px 7px;
    background-repeat: no-repeat;
    display: block;
    font-size: 16px;
    font-weight: lighter;
    line-height: 18px;
    margin-left: 3%;
    margin-top: 2%;
    padding-left: 3%;
}
.inner-list
{
    list-style-type: square;
}